[Unit]
Description=PG package sync Service
After=network.target

[Service]
Type=simple
User=harold
WorkingDirectory=/home/harold/workspace/pg
ExecStart=/usr/bin/python3 /home/harold/workspace/pg/bot.py
Restart=always
RestartSec=5
EnvironmentFile=/home/harold/workspace/pg/pg.env

[Install]
WantedBy=multi-user.target